<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.admin.modules.system.mapper.SensitiveWordMapper">
    <select id="selectAllValid" resultType="com.platform.admin.modules.system.entity.SensitiveWord">
        SELECT * FROM sys_sensitive_word WHERE status = 1
    </select>
</mapper>